/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.hidden{
    display:none;
}
.story{
    margin-bottom: 1em;
}
.story-header {
    display: flex;
}
.story-header button{
    min-width: 2em;
    min-height: 2em;
    align-self: flex-start;
    margin-top: 7px;
}
.story-header h2, .story-details {
    padding-left: 10px;
}
.story-details{
    margin-left: 2.5em;
}
